
PROETO CTD 19.1/bloco_controle.qsf
*.qpf
*.qws
*.qdf
*.txt
*.bak
*.kpt
*.cdb
*.hdb
*.bpm
*.qmsg
*.rdb
*.xml
*.idb
*.logdb
*.hsd
*.db_info
*.hier_info
*.hif
*.html
*.ammdb
*.nvd
*.sci
*.tdb
*.ddb
*.tmw_info
*.json
*.dfp
*.rcfdb
*.sig
*.dpi
*.hb_info
*.rpt
*.done
*.smsg
*.summary
*.jdi
*.pin
*.sld
*.sof
*.qarlog
*.qsf
*.qar
*.cache
VHDL_Bases/incremental_db/README
PROETO CTD 19.1/incremental_db/README
